.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding: var(--horizontal-space);
    padding-top: 40px;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__title__icons span {
    margin-left: 25px;
}

.screen-header__title__icons {
    position: relative;
}

.screen-header__title__red {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: tomato; 
    border-radius: 50%;
    right: -5px;
    bottom: 18px;
}